{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="articles-listing-large">
{% for key,row in rows %} 
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  
  <div{{ row.attributes.addClass(row_classes) }}>
     {% if loop.index is odd %}
        <div class="content-item">
          <div class="content-left-section">
            <div class="content-image">
              {{ view.style_plugin.getField(key, 'field_image') }}
            </div>
          </div>
          <div class="content-right-section">
            <div class="content-title">
              {{ view.style_plugin.getField(key, 'title') }}
            </div>
            <div class="content-body">
              {{ view.style_plugin.getField(key, 'body') }}
            </div>
            <div class="content-read-more">
              {{ view.style_plugin.getField(key, 'view_node') }}
            </div>
          </div>
        </div>
      {% else %}
        <div class="content-item">
          <div class="content-left-section">
            <div class="content-title">
              {{ view.style_plugin.getField(key, 'title') }}
            </div>
            <div class="content-body">
              {{ view.style_plugin.getField(key, 'body') }}
            </div>
            <div class="content-read-more">
              {{ view.style_plugin.getField(key, 'view_node') }}
            </div>
          </div>
          <div class="content-right-section">
            <div class="content-image">
              {{ view.style_plugin.getField(key, 'field_image') }}
            </div>
          </div>
        </div>
      {% endif %}
  </div>
{% endfor %}
</div>
<div class="articles-listing-small">
  {% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div> 
{% endfor %}
</div>
   
